* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html,
body {
    height: 100%;
    width: 100%;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: steelblue;
}

.card {
    height: 450px;
    border-radius: 10px;
    width: 350px;
    background-color: white;
    padding: 30px;
    text-align: center;
}

.card img{
    height: 50%;
    border-radius: 10px;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.card h1{
    font-size: 25px;
    font-weight: 700;
    margin: 10px 0px;
}

.card h5{
    font-size: 25px;
    color: red;
    margin: 20px;
    margin-bottom: 20px;
}

.card button{
    cursor: pointer;
    background-color: cadetblue;
    color: white;
    font-weight: 700;
    padding: 12px 20px;
    border-radius: 5px;
    border: none;
    margin: 5px;
}